*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f;
  min-width: 1200px;
  height: auto;
  border: 0px;
  margin:0px;
}
.container {
  position: relative;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 27px;
}
.main-header {
  margin-bottom: 1px;
  min-height: 30px;
  padding-left: 25px;
  padding-right: 25px;
  align: center;
}
.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-navigation {
  margin: 0px;
  border: 0px;
  list-style: none;
  display: flex;
  margin-top: 12px;
}
.site-navigation {
  font-size: 16px;
}
.user-navigation {
  margin: 0px;
  border: 0px;
  list-style: none;
  display: flex;
  margin-top: 12px;
}
.logo {
  width: 154;
  height: 64;
  display: block;
  margin-top: 9px;
}
.main_slider-temporary {
  display: inline-block;
  width: 1200px;
  text-align: center;
  background-color: #9d8b84
  bottom:5px;
}

/*ОБЩИЕ ПАРАМЕТРЫ ССЫЛОК*/
a {
  text-decoration:none ;
  color: #ffffff;
}
a:active {
  color: #ffbc9e;
}
a:hover {
  color: #ffbc9e;
}
li {
  list-style-type: none;
}
/*.button {}
Временно скрыто*/
.button-red {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 22px;
  padding: 10px 20px;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
}
.button-red:hover {
  color: #fefefe;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  border: none;
}
.button-red:active {
  color: #fceeec;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  border: none;
}
.sub-menu {
  display: none;
  width: 143px;
  height: 171px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px;
  color:#ffffff;
  color: var(--white-two);
}
.menu-item:hover .sub-menu {
  display: block;
}
.menu-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.sub-menu a:hover {
  font-size: 14px;
  line-height: 16px;
  color:#e84d37;
  background-color: #fbded7;
  width: 100%;
 }
.sub-menu a:active {
  font-size: 14px;
  line-height: 16px;
  color: #e84d37;
  background-color: #f6b5a5;
  width: 100%;
}
.sub-menu a {
  color:#323232;
  font-weight: normal;
}
.sub-menu b {
  text-decoration:underline;
}
/*это попытка выделить Каталог - пока оставлю так*/
.catalog-link {
  margin: 0px;
  padding: 8px;
}
.catalog-link:hover {
  background-color: #f7f6f3;
  color: #333333;
  border-radius: 15px;
  margin: 0;
}
.catalog-link:active {
  width: 87px;
  height: 32px;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #323232;
  border-radius: 5px;
  margin: 0;
}
.catalog-link-cream {
  width: 87px;
  height: 32px;
  background-color: #d07058;
  color: #ffffff;
  border-radius: 5px;
}
.sub-menu-link a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color:#ffffff;
}
.sub-menu-link a:hover,
.sub-menu-link a:active {
  color: #ffbc9e;
}
.user-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.search-field {
  display: none;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 20px;
}
.user-search:hover .search-field {
  display: block;
}
.user-login-hover {
  display: none;
  width: 257px;
  height: 214px;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 20px;
}
.user-link:hover .user-login-hover {
  display: inline-block;
}
.user-login-hover a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: normal;
}
/*.user-login-hover a:visited {
  color: #323232;} временно скрыто*/
.user-login-hover a:active {
  color:#e84d37;
}
.user-login-hover a:hover {
   color:#e84d37;
}
.timetable-phone {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
}
.timetable-phone a {
  font-size: 22px;
  line-height: 24px;
}
.user-basket-index {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  /*opacity: 0.2;
  background-color: #ffffff;*/
  padding: 5px 7px;
  border-radius: 10px;
}
.user-basket-catalog {
  display: inline-block;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  /*opacity: 0.2;*/
  background-color: #ffffff;
  padding: 5px 7px;
  border-radius: 10px;
}
.user-basket-full {
  display: none;
}
.user-basket-catalog:hover .user-basket-full {
  display: block;
  width: 540px;
  height: 242px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}
/* СЛАЙДЕР - ВРЕМЕННО СКРЫТ*/
.main_slider {
  display: none;
}
/*АКЦИИ*/
.toppings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top:0px;
  text-align: left;
  margin-bottom: 40px;
}
.toppings-item {
  width: 540px;
  height: 229px;
  border-radius: 15px;
  padding-left: 20px;
  margin: 10px;
}
.toppings-item h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}
.toppings-item p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-left: 10px;
}
.topping-item-raspberry {
  background-image: url("../img/backgrounds/raspberry.jpg");
  background-position: left;
}
.topping-item-choco {
  background-image: url("../img/backgrounds/chocolate.jpg");
  background-position: left;
}
.topping-link a {
  text-align:right;
}
/*КАТАЛОГ*/
/*.top-sales {
  display: block;
  width: auto;
  margin-top: 50px;
}*/
.top-sales-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  list-style: none;
  margin-top: : 20px;
  margin-top: : 40px;
}
.catalog-item {
  width: 267px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.catalog-item:last-child {
  /*margin-right: 0px;*/
}
.catalog-item a {
  font-size: 16px;
  font-weight: 500;
}
.catalog-item-content img {
  border-radius: 134px;
}
.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.catalog-item-hover {
  display: none;
}
/*ПРЕИМУЩЕСТВА*/
.features {
  display: block;
  background-image: url("../img/backgrounds/waffles.jpg");
  border-radius: 15px;
}
.features h3 {
  font-weight: 500;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}
.feature-item {
  font-weight: normal;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}
/*БЛОГ*/
.blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}
.blog-form {
  width: 560px;
  height: 190px;
  border-radius: 15px;
  margin: 10px;
  background-color: #ffffff;
  padding: 5px;
}
.blog-news {
  background-image: url("../img/backgrounds/strawberry.jpg");
  background-position: left;
}
.blog-news h3 {
  font-weight: 500;
  font-size: 16px;
}
.subscription {
  background-image: url("../img/backgrounds/subscribe.svg");
  background-position: left;
}
.blog-link {
  display: block;
  width: 310px;
  text-decoration: underline;
}
.blog-link a {
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}
.blog-link a:hover {
  color: #e84d37;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.blog-link a:active {
  color: #e84d37;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.newsletter-subscription {
  display: block;
  width: 549px;
  height: 190px;
  border-radius: 10px;
  background-color: #f8f7f4;
  background-position: center;
  border: none;
}
.email-subscription {
  display: block;
  position: relative;
  border: none;
  color: #5a5a5a;
}
/*КАРТА, АДРЕС, ФОРМА ОБРАТНОЙ СВЯЗИ*/
.main_map {
  display: block;
  text-align: center;
}
.off-shop-address {
  display:block;
  /*position: absolute;*/
  left:120px;
  padding-right:27px;
  margin-top: 50px;
  width: 302px;
  height: 305px;
  text-align: left;
  border-radius: 10px;
  font-style: normal;
  background-color:#ffffff;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}
.off-shop-address:first-child {
  font-size: 18px;
}
.off-shop-address b {
  font-size: 18px;
  line-height: 24px;
}
.off-shop-address p {
  font-size: 14px;
  line-height:20px;
  width: 302px;
}
.off-shop-address a {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
}
.off-shop-address a:active,
.off-shop-address a:hover {
  color:#ffbc9e;
}
.off-shop-text {
  padding-right:50px;
}
.feedback-form {
  display: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #323232;
  width: 478px;
  height: 443px;
  border-radius: 10px;
  background-color: #f8f7f4;
}
/*form input:focus {
border-color: #0088cc;
}
*/
.feedback:hover .feedback-form {
  display: block;
}
/*
#map {
  width: 100%;
  height: 430px;
  background-color: grey;
}*/
/*ФУТЕР*/
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  min-height: 105px;
}
.footer-links a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}
ul.footer-links a:hover {
  color: #ffbc9e;
}
a.footer-links-first {
  font-weight: bold;
}
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.footer-copyright a:active {
  color:#ffbc9e;
}
.footer-copyright a:hover {
  color:#ffbc9e;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  /* cream_ice_cream-text - 2 страница*/

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}
.logo-link {
  display: block;
  width: 154px;
  height: 64px;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}
.catalog-sort {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  font-weight: 500;
  line-height: 18px;
}
.sort-price {
  display: inline-block;
  width: 300px;
}
.fat-item {
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
}
.topping-item {
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
}
.catalog-sort legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.button-choice {
  display: block;
  width: 144px;
  height: 37px;
  background-color: #ffffff;
}
.catalog {
  width: 1200px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
}
.pagination-item {
  display: inline-block;
  text-align: right;
}
